{% extends 'layout.html' %}
{% block title %}
    <title>Job Finder</title>
{% endblock%}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>about us</h4>
                <h2>more about us!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="assets/images/about-fullscreen-1-1920x700.jpg" alt="">
            <p>Since inception in 2009, we have turned out to be number one jobs provider in Nepal with 300 million+ page views with 2.5 million+ progressive visits every month, created 180,000+ success stories and registered 600,000+ job seekers in our database. We have been offering 32,000+ employers promote their employer brands to jobseekers and advertise diverse opportunities to over a million candidates inside Nepal and abroad. Established as an inevitable bridge between the hiring employers and the job seekers, we are well-known as a national leader in recruitment solutions & career management in Nepal.</p>

            <p>Through constant innovation, incomparable technology and customer care delivered at every touch point, we have been a preferred brand and a goldmine for recruiters. We gather convenient tools and quality data in a single website in our in-house server that makes online recruitment simple, cost-effective and convenient saving time and effort. Our 80+ full-time employees are dedicated team players who bring energy, ideas and pride to their work committed to customer service excellence with depth in their respective area of expertise. Following the governance compliance with financial discipline, we have been one of the largest tax-paying corporate houses in the nation.</p>

            <p>We are more than just a job site. From the web, to mobile, to social media tools and apps, we service companies of all sizes to find the right fit using most advanced technology in Nepal. Providing recruitment solutions to employers finding, fostering and preparing the right candidates in every possible ways with an effective tracking system and a dedicated team of customer service to both; the employers and the job seekers, has always been our primary goal.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </section>

    


{% endblock %}

