{% extends 'layout.html' %}
{%load static%}
{% block title %}
<title>Job Form</title>
{% endblock%}

{% block content %}
   
<div class="container stw ">

    <h3 class="text-center">
        {{job.job}}
    </h3>
    <div class="mx-auto col-lg-12">
        <div class="border-rounded m-5 col-lg-6">
            <p class="col-lg-6">
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                <h6 class="alert alert-danger py-3 px-1 my-2 text-center">{{message}}</h6>
                {% endif %}
                {% endfor %}
            </p>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token%}
                <table class="table">
                    {{form.as_table}}
                </table>

                {% if vacancy  == False%}
                <button type="submit" class="btn btn-primary btn-sm "> Submit </button>
                {% else %}
                <div>
                    <p class="alert alert-warning">Response: &nbsp;
                        {{response}}
                    </p>
                </div>
                <button type="" class="btn btn-primary btn-sm disabled">Already Applied </button>
                {% endif %}




            </form>
        </div>
    </div>
</div>


 {%endblock%}