{% extends 'layout.html' %}



{% block title %}

    <title>Job Finder</title>
{% endblock%}


{% block content %}
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Terms</h4>
                <h2>Our terms &amp; conditions!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <div class="blog-posts">
      <div class="container">
        <div class="blog-post">
          <div class="down-content down-content-border">
            <h4>1) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit et atque nesciunt quaerat vitae natus fuga sapiente, numquam ea enim?</h4>
            <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
          </div>
        </div>

        <div class="blog-post">
          <div class="down-content down-content-border">
            <h4>2) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit et atque nesciunt quaerat vitae natus fuga sapiente, numquam ea enim?</h4>
            <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
          </div>
        </div>

        <div class="blog-post">
          <div class="down-content down-content-border">
            <h4>3) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit et atque nesciunt quaerat vitae natus fuga sapiente, numquam ea enim?</h4>
            <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
          </div>
        </div>

        <div class="blog-post">
          <div class="down-content down-content-border">
            <h4>4) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit et atque nesciunt quaerat vitae natus fuga sapiente, numquam ea enim?</h4>
            <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
          </div>
        </div>

        <div class="blog-post">
          <div class="down-content down-content-border">
            <h4>5) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit et atque nesciunt quaerat vitae natus fuga sapiente, numquam ea enim?</h4>
            <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}