{% extends 'layout-admin.html' %}
{% load static %}
{% block title %}
<title>Admin-Dashboard</title>
{% endblock %}
{% block content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }
    .card-body a:hover{
    color:orange;
    }
</style>
<div class="container stw">
    <h1>Dashboard</h1>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col">
    <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
        <div class="card-header text-center">Total User Registered</div>
        <div class="card-body">
            <a href="/admin-dashboard/show-user">
              <h1 class="card-title text-center">{{Tusers}}</h1>
            </a>
        </div>
    </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Vacancy List</div>
                <div class="card-body">
                   <a href="/admin-dashboard/totalvacancy">
                    <h1 class="card-title text-center">{{tvacancy}}</h1>
                   </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Message Request</div>
                <div class="card-body">
                    <a href="/admin-dashboard/msg-requestsSn"><h1 style=" font-size:20px;" class="card-title text-center">Seen : {{noofmssgSn}}</h1></a>
                    <a href="/admin-dashboard/msg-requestsUn"><h1 style="  font-size:20px;" class="card-title text-center">Not Seen : {{noofmssgUn}}</h1></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Vacancy Applied</div>
                <div class="card-body">
                    <a href="/admin-dashboard/applied-vacancySn">
                      <h1 style=" font-size:20px;" class="card-title text-center">Seen : {{vacancyappliedSn}}</h1>
                    </a>
                    <a href="/admin-dashboard/applied-vacancyUn">
                      <h1 style=" font-size:20px;" class="card-title text-center">Not Seen: {{vacancyappliedUn}}</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}